<h1 class="text-light">About Me</h1>
<div class="container text-center mt-5">
    <div class="row justify-content-md-center">
        <div class="col-7">
            
            <table class="table fs-5">
                <thead>
                    <img class="col-4 rounded-circle mb-5 border border-5" src="../public/img/about-img.jpeg" alt="">
                    <tr>
                        <td class="w-50">Name</td>
                        <th>Afifudin Nurfalah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Phone</td>
                        <th>+62 897-5836-972</th>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <th>afifu5882@gmail.com</th>
                    </tr>
                    <tr>
                        <td>Work</td>
                        <th>Developer</th>
                    </tr>
                    <tr>
                        <td>Adrress</td>
                        <th>Jl. Tk Pertiwi No.40A 004/002 <br> Tegal, Jawa Tengah, Indonesian</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
