<div class="container text-light">
    <div class="row">
        <div class="col-md-6 mt-3">
            <h1>Form Add Contact</h1>

            <% if (typeof errors !== "undefined") { %>
                <div class="alert alert-danger mt-5" role="alert">
                    <% errors.forEach(error => { %>
                        <div><i class="bi bi-exclamation-triangle-fill"></i> <%= error.msg %></div>                    
                    <% }) %>
                </div>
            <% } %>
            <form class="mt-4" method="post" action="/contact">
                <div class="add-form-div">
                    <label for="name" class="add-form-tag">Name</label>
                    <input type="text" placeholder="Insert Your Name" class="add-form-input" id="name" name="name" required>
                </div>
                <div class="add-form-div">
                    <label for="phone" class="add-form-tag">Phone</label>
                    <input type="number" placeholder="Insert Your Phone Number" class="add-form-input" id="phone" name="phone" required>
                </div>
                <div class="add-form-div">
                    <label for="work" class="add-form-tag">Work</label>
                    <input type="text" placeholder="Insert Your Work" class="add-form-input" id="work" name="work">
                </div>
                <div class="add-form-div">
                    <label for="email" class="add-form-tag">Email</label>
                    <input type="email" placeholder="Insert Your Email" class="add-form-input" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-outline-info border-2 mt-4 me-3"><i class="bi bi-plus-circle-fill"></i> Submit</button>
                <a href="/contact" class="btn btn-outline-warning border-2 fw-semibold mt-4"><i class="bi bi-arrow-left-circle"></i> Back</a>
            </form>
        </div>
    </div>
</div>