<h1 class="home-title text-light">Hello Everyone <br> Welcome To <span class="home-title-span" href="">My Contact Apps</span></h1>
<img class="home-img" src="../public/img/home-img.avif" alt="">
<a href="/contact" class="btn btn-outline-info mt-5 btn-lg"><i class="bi bi-box-arrow-right"></i> Get Started</a>

